body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    text-align: center;
    background-color: #f0f0f0;
}

input[type="submit"] {
    background-color: 0;
    text-shadow: #f0f0f0;
}

 

