*, *::before, *::after {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

 :root {
    --background-color: rgb(0, 0, 0);
    --color: white;
 }


header {
    color: var(--color);
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px 20px 10px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

ul li {
    display: inline;
    justify-content: space-around;
    list-style: none;
    margin: 10px;
    width: 100%;
    height: 100%;
}

.nav-link {
    text-decoration: none;
    color: var(--color);
}



